@import "bulma";
@import "~bulma-slider";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $dark;
    overflow-y: hidden;
}

div {
    box-sizing: border-box;
}

i {
    z-index: inherit;
}

svg.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100vh;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

svg.main > * {
    transition: fill 2s;
}

.side-menu-close-target {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.side-menu {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-menu-content {
    width: 100%;
    margin: 1.5em;
    padding-bottom: calc(40px + 1.5em);
}

$side-menu-handle-radius: 40px;
$side-menu-bg-color: white;

.side-menu-handle {
    position: absolute;
    right: -$side-menu-handle-radius;
    top: 0;
    width: $side-menu-handle-radius;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 2em;
    z-index: 90;
}

.side-menu-handle::before {
    position: absolute;
    left: 0;
    top: calc(50% - #{$side-menu-handle-radius});
    width: $side-menu-handle-radius;
    height: 2 * $side-menu-handle-radius;
    background-color: $side-menu-bg-color;
    border-top-right-radius: $side-menu-handle-radius;
    border-bottom-right-radius: $side-menu-handle-radius;
    content: "";
}

.side-menu-color-picker {
    position: absolute;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: $side-menu-bg-color;
    top: 0;
    padding: 1em;
    right: calc(-225px - 2em);
    z-index: inherit;
}

.side-menu-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-menu-footer {
    width: 100%;
    margin: 1.5em;
    position: absolute;
    bottom: 0;
}

.side-menu-youtube {
    position: absolute;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: $side-menu-bg-color;
    bottom: 0;
    padding: 1em;
    right: calc(-352px - 2em);
    z-index: inherit;
    transition: opacity 0.2s;
    transition-timing-function: ease-in-out;
}

.side-menu-youtube-hide {
    opacity: 0;
}

.pad-left-1 {
    padding-left: 1em!important;
}

.pad-right-1 {
    padding-right: 1em!important;
}

.swatch {
    box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
    padding-left: 1.2em!important;
    padding-right: 1.2em!important;
}

.swatch.selected {
    box-shadow: inset 0px 0px 0px 2px $dark;
}

.buttons .button.is-rounded {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.buttons .button.is-rounded:first-child {
    padding-left: 1em;
}

.buttons .button.is-rounded:last-child {
    padding-right: 1em;
}
